@charset "utf-8";
/* CSS Document */

/*The font "Caviar dreams" */
@font-face
{
    font-family: calcFont;
    src: url(CaviarDreams.ttf);
}

/* The whole content File(Main div)*/
#wrapper
{
	font-family: calcFont;
	color: #000000;
	margin:10px;
  position: relative;
}

/* Navigation*/

nav
{
	  text-align: center;
    padding: 3.5vmin;
    font-size: 8px;
  	/* above is default font sive, botton is to use viewport sizing for responsive design */
	  font-Size: 5vmin;
	  border: 2px solid;
    border-radius: 5.5vmin;
    display:inline-block;
    position: fixed;
    float: left;
    margin-top: 8%;
}

nav ul
{
	 list-style-type: none;
	 padding: 0;
     list-style-type: none;
}

/* links in navigation */
nav a
{
    text-decoration: none;
    color: #000000;

    animation-duration: 2s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
}

nav a:hover
{
    text-decoration: underline;
    color: #000000;
}

body
{
/* setting the ice background, and centering it */
	background-color: #E8E9EA;
	margin: 0 auto;
}

#IO
{
	margin-left: 27%;
  display:inline-block;
}

/* Our title*/
#title
{
	font-family: calcFont;
	font-size: 10px;
	/* above is default font sive, botton is to use viewport sizing for responsive design */
	font-Size: 7.5vmin;
}

/* Our logo, no longer using our logo
#logo
{

	-webkit-transition: width 2s, height 2s; /* Safari
    transition: width 2s, height 2s;
    transition-timing-function: ease-out;
}


#logo:hover
{
    width: 128px;
    height: 128px;
}
*/

h1
{
	line-height: 0px;
	text-shadow: 3px 3px 1px #888888;
	text-align: center;
  font-size: 20px;
	/* above is default font sive, botton is to use viewport sizing for responsive design */
	font-Size: 13vmin;
}

#description
{
	font-size: 3px;
	/*vw used to dynamically change font size*/
    font-size: 3.5vmin;
	text-align: center;
}

.center
{
  text-align: center;
  margin: 0 auto;
}

.center a
{
    text-decoration: none;
}

p
{
  font-size: 3px;
	/*vw used to dynamically change font size*/
  font-size: 2.5vmin;
  margin-left:5%;
}

iframe
{
  border:0px;
}

form
{
	text-align: center;
}

#enterMath
{
	font-size: 7px;
	font-size: 7vmin;
}

/* Our input box*/
#inputBox
{
	width: 70%;
	margin: 10px;
	font-family: calcFont;
	font-size: 7vmin;
}

#clearButton
{
	font-family: calcFont;
	font-size: 4vmin;
}

/*Our answer*/
#your
{
	font-size: 4px;
	/*vmin used to dynamically change font size*/
    font-size: 7vmin;
    text-align: center;
}

/*Our answer*/
#answer
{
	   font-size: 4px;
	    /*vw used to dynamically change font size*/
    font-size: 7vmin;
    text-align: center;

}

/*Footer stuff */
#key
{
	font-size: 2px;
	/*vw used to dynamically change font size*/
    font-size: 3vmin;
    text-align: center;
}

.keyelement
{
	white-space: nowrap;
	display:inline;
}

footer
{
	font-size: 2px;
	/*vw used to dynamically change font size*/
    font-size: 3vmin;
    text-align: center;
}

/* Our mobile designs */

media only screen and (max-width: 768px)
{
	body
	{
		margin: 0;
	}

	#wrapper
	{
		min-width: 0;
		width: auto;
	}

	#content
	{
		margin-left: 0;
	}

	nav
	{
		float: none;
		width: auto;
		padding: 0;
	}

	nav ul
	{
		text-align: center;
	}

	nav li
	{
		display: inline;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: .75em;
		padding-right: .75em;
	}

	footer
	{
		margin-left: 0;
	}
}

@media only screen and (max-width: 480px)
{
	body
	{
		margin: 0;
	}

	#wrapper
	{
		min-width: 0;
		width: auto;
		margin: 0;
	}

	#content
	{
		margin: 0;
		padding-top: .1em;
		padding-bottom: .1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 90%;
	}

	h1
	{
		margin: 0;
		font-size: 1.5em;
		padding-left: .3em;
	}

	nav ul
	{
		padding: 0;
	}

	nav li
	{
		display: block;
		margin: 0;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #330000;
	}
	nav a
	{
		display: block;
	}

	#content img
	{
		float: none;
		padding: 0;
		margin: .1em;
	}

	#content ul
	{
		list-style-position: outside;
	}

	#mobile
	{
		display: inline;
	}

	#desktop
	{
		display: none;
	}
}
