@charset "utf-8";
/* CSS Document */

/*The font "Caviar dreams" */
@font-face 
{
    font-family: calcFont;
    src: url(CaviarDreams.ttf);
}

/* The whole content File(Main div)*/
#wrapper
{
	font-family: calcFont;
	color: #000000;
	margin:10px;
}

/* Navigation*/

nav
{
	text-align: center;
    padding: 20px;
    font-size: 8px;
	/* above is default font sive, botton is to use viewport sizing for responsive design */
	font-Size: 5.5vmin;
	border: 2px solid;
    border-radius: 25px;
    display:block;
    float:left;
    width: 12%;
}

nav ul
{
	 list-style-type: none;
	 text-align: center;
	 padding: 0;
     list-style-type: none;
}

/* links in navigation */
nav a
{
    margin: 10px;
    text-decoration: none;
    color: #000000;
    
    animation-duration: 2s;
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
}

#IO
{
	margin-left: 12%;
}

body
{
/* setting the ice background, and centering it */
	background-color: #E8E9EA;
	margin: 0 auto;
}

/* Our title*/
#title
{
	font-family: calcFont;
	font-size: 10px;
	/* above is default font sive, botton is to use viewport sizing for responsive design */
	font-Size: 7.5vmin;
}

/* Our logo */
#logo
{
	float:left;
	position: fixed;
    top: .1em;
	
	-webkit-transition: width 2s, height 2s; /* Safari */
    transition: width 2s, height 2s;
    transition-timing-function: ease-out;
}

#logo:hover
{
    width: 128px;
    height: 128px;
}

h1
{
	line-height: 0px;
	text-shadow: 3px 3px 1px #888888;
	text-align: center;
}

#description
{
	font-size: 3px;
	/*vw used to dynamically change font size*/
    font-size: 3.5vmin;
	text-align: center;
}

form
{
	text-align: center;
}

#enterMath
{
	font-size: 7px;
	font-size: 7vmin;
}

/* Our input box*/
#inputBox
{
	width: 70%;
	margin: 10px;
	font-family: calcFont;
	font-size: 7vmin;
}

#clearButton
{
	font-family: calcFont;
	font-size: 4vmin;
}

/*Our answer*/
#your
{
	font-size: 4px;
	/*vmin used to dynamically change font size*/
    font-size: 7vmin;
    text-align: center;
}

/*Our answer*/
#answer
{
	font-size: 4px;
	/*vw used to dynamically change font size*/
    font-size: 7vmin;
    text-align: center;
}

/*Footer stuff */
#key
{
	font-size: 2px;
	/*vw used to dynamically change font size*/
    font-size: 3vmin;
    text-align: center;
}

.keyelement
{
	white-space: nowrap;
	display:inline;
}

footer
{
	font-size: 2px;
	/*vw used to dynamically change font size*/
    font-size: 3vmin;
    text-align: center;
}
